html, body {
    margin: 0;
    padding: 1em 1em;
    font-family: "Georgia", "Palatino", 'Palatino Linotype', serif;
}
body {
    background: #2d0000 url(royal-red-dark.gif);
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Georgia", "Palatino", 'Palatino Linotype', serif;
    font-style: italic;
    font-weight: normal;
    color: rgb(77, 59, 39);
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
    color: rgb(91, 33, 26);
}

.contentwrapper {
    margin: 0 auto;
    max-width: 60em;
    background: #fcf6d6 url(paper.gif);
    box-shadow: 0 0 80px 40px rgba(0, 0, 20, 0.7), inset 0 0 80px 20px rgba(70, 30, 0, 0.5);
    border: 1px solid rgb(120, 100, 0);
}
.content {
    margin: 0 0 0 0;
    padding: 0 1em;
    min-height: 20em;
    width: calc(43em - 1px);
    border-right: 1px solid #95836f;
    /*background: red;*/
}
.sitetitle {
    font-style: normal;
    text-transform: uppercase;
    margin: 0;
    padding: 1em 1em 6% 1em;
    text-align: center;
    background: url(separator-wide.svg) no-repeat;
    background-size: 75%;
    background-position: 50% 100%;
}
.side {
    float: right;
    margin: 1.5em 0 1em 0;
    padding: 0;
    width: 15em;
    min-height: 20em;
    border-left: 1px solid #95836f;
    /*background: green;*/
}
article footer {
    border-top: 1px solid #95836f;
}
article footer:after {
    display: block;
    content: "";
    border-top: 1px solid #95836f;
    background: url(separator-compact-1.svg) no-repeat;
    background-size: 8em;
    background-position: 50% 0.5em;
    padding: 0 0 4.5em 0;
}
